// Accent colors

$indigo: #6555D0;
$governor-bay: #4534BA;
$daisy-bush: #3625A9;
$jacksons-purple:  #30209C;
$midnight-blue: #261789;
$dark-blue: #21137F;


// Grey colors

$bunker: #10161C;
$mirage: #181E29;
$gray: #646C75;
$regent-gray:  #8E959E;
$smoke: #B0B8BF;
$iron: #DADDE0;
$athens-gray: #F0F2F5;
$alabaster: #FAFAFA;
$white: #FFFFFF;
